@font-face {
    font-family:'woff' ;
    src: url(/public/assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}

@font-face {
    font-family:'woffs';
    src: url(/public/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

@font-face {
    font-family:'wolfs';
    src: url(/public/assets/fonts/SoDoSans-Bold.woff);
}

@font-face {
    font-family:'regular' ;
    src: url(/public/assets/fonts/SoDoSans-Regular.woff);
}

@font-face {
    font-family:'bold';
    src: url(/public/assets/fonts/SoDoSans-SemiBold.woff);
}